<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; Novější příspěvky</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Novější příspěvky</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Stránka {{paginator.page}} z {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Starší příspěvky &raquo;</a>
    {% endif %} 
</nav>